
<html>
  <head>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
          
      body{margin-top:0px;
        background-color: #FFF8DC;
      }
      p {
        font-size: 20px;
        color:blue;
        
        padding-left: 50%;
      }
    
      #container2{
        margin-top: 20px;

        width:500px;
        position: absolute;
        left:5%;
      }
      #container1{
        margin-top: 20px;
        width:1000px;
        position: absolute;
        left:25%;
       
      }

      #container3{
        margin-top: 20px;
        width:1000px;
        position: absolute;
        left:65%;
      }
      .comment-wrapper .panel-body {
        max-height:650px;
        overflow:auto;
      }

      .comment-wrapper .media-list .media img {
        width:64px;
        height:64px;
        border:2px solid #e5e7e8;
      }

      .comment-wrapper .media-list .media {
        border-bottom:1px dashed #efefef;
        margin-bottom:25px;
      }
      #btn{
        position: absolute;
        top:200px;
        right:50px;
      }
      .topnav {
        overflow: hidden;
        background-color: #333;
      }

      .topnav a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
      }

      .topnav a:hover {
        background-color: #ddd;
        color: black;
      }

      .topnav a.active {
        background-color: #4CAF50;
        color: white;
      }

      .topnav-right {
        float: right;
      }

  </style>
</head>

<body>
  <div class="topnav">
    <a class="active" href="#home" style="text-transform: uppercase;"><i>{{eventName}} EVENT STATUS DETAILS </i></a>
    <div class="topnav-right">
      <a href="eventdetailsToeventList">HOME</a>
      <a href="/adminLogin">LOGOUT</a>
    </div>
  </div>
<!-- DISPLAYING COMMENTS -->
  <div class="row bootstrap snippets" id="container1">
    <div class="col-md-6 col-md-offset-2 col-sm-12">
      <div class="comment-wrapper">
        <div class="panel panel-info">
          <div class="panel-heading" style="text-align: center;">
            <strong>COMMENT LIST</strong>
          </div>
          <div class="panel-body">
            <div class="clearfix"></div>
            <hr>
            <ul class="media-list">
             {{#each comments}}
               <li class="media">
                <div class="media-body">
                    <span class="text-muted pull-right">
                    <strong>Posted on:</strong><small class="text-muted" id="time">{{this.time}}</small>
                    </span>
                    <strong class="text-success" id="username">USERNAME: {{this.userName}}</strong>
                    <p id="comments">
                    <strong>Comments:  </strong>{{this.comments}} 
                    </p>
                 </div>
                </li>
               {{/each}}
                <li class="media"> 
                <a href="#" class="pull-left" id="img">
                </a>                      
                </li> 
            </ul>
          </div>
        </div>
    </div>
  </div>
</div>

 <!-- DISLAYING LIKES-->
 
 <div class="row bootstrap snippets" id="container2">
    <div class="col-md-6 col-md-offset-2 col-sm-12">
      <div class="comment-wrapper">
        <div class="panel panel-info">
          <div class="panel-heading" style="text-align:center;">
            <strong>EVENT LIKED PEOPLE</strong>
          </div>
          <div class="panel-body">
            <div class="clearfix"></div>
              <hr>
                <ul class="media-list">
                 {{#each likes}}
                  <li class="media">
                    <div class="media-body">
                      <strong class="text-success" id="username">Liked By: </strong>
                        <span class="text-muted pull-right">
                          <strong>{{this.userName}}</strong>
                        </span>
                    </div>
                            
                  </li>
                        
                 {{/each}}
                  <li class="media"> 
                    <a href="#" class="pull-left" id="img">
                    </a>  
                  </li> 
                                                     
                </ul>
              </div>
          </div>
       </div>

    </div>
</div>

<!-- TICKET SOLD DETAILS-->

 <div class="row bootstrap snippets" id="container3">
    <div class="col-md-6 col-md-offset-2 col-sm-12">
      <div class="comment-wrapper">
        <div class="panel panel-info">
          <div class="panel-heading"style="text-align: center;">
            <strong>SOLD TICKET HISTORY</strong>
          </div>
          <div class="panel-body">
            <div class="clearfix"></div>
              <hr>
                <ul class="media-list">
                  {{#each soldTicket}}
                    <li class="media">
                      <div class="media-body">
                        <span class="text-muted pull-right">
                          <strong>Purchased By:</strong><small class="text-muted" id="time">{{this.userName}}</small>
                        </span>
                        <strong class="text-success" id="username">No of ticket purchased:{{this.noOfTicket}}</strong>
                          <p id="comments">
                          <strong>Amount paid: {{this.paid}}/-  </strong> 
                          </p>
                      </div>
                            
                    </li>
                  {{/each}}

                </ul>
            </div>
          </div>
       </div>

    </div>
  </div>

 
</body>
</head>
</html>
