<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=100, initial-scale=1">
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script>
      function submit(username) {
        let feedback = $('#feedback').val();
        
        if(!feedback || /^\s*$/.test(feedback)||/[0-9]/.test(feedback)) {
          return alert("Please provide valid feedback!!!!...");
          window.location.reload;
        }else{
         
          $.ajax({
          url:"/feedback",
          type:"POST",
          data:{
           
            feedback:$('#feedback').val(),
            username : username
          },
          
          success:function(response){
            alert(response);
            window.location.reload();

          }
      });
      }
      }


      function cancel(){
        $('#feedback').val(" ");
        window.location.reload();

      }
      </script>
    <script>
      Handlebars.registerHelper('dateTime1',function(datetime){
        return moment(new Date(datetime)).format('DD-MM-YYYY @  hh:mm A').min;
      });

    </script>
    <script>
    
      Handlebars.registerHelper("if_eq", function(value1,value2,option){
        if(value1%value2==0&&value1!=0){
          return option.fn(this);
        }else{
          option.inverse(this);
        }
      
      });
      
    </script>
    <script>
    
      Handlebars.registerHelper('if_Equal', function(value1,value2,option){
        if(value1%value2==0&&value1!=0){
          return option.fn(this);
        }else{
          option.inverse(this);
        }
      
      
      });
      
    </script>
    <script>
    
  Handlebars.registerHelper('if_Greater1', function(value1,value2,value3,option){
    if(value1 >= value2 && value1<=value3){
      return option.fn(this);
    } else{
      option.inverse(this);
    }

  });

  Handlebars.registerHelper('if_Greater2', function(value1,value3,option){
    if(value1>value3){
      return option.fn(this);
    } else{
      option.inverse(this);
    }

  });

      
  </script>

  <script>
    
      Handlebars.registerHelper('if_Lesser', function(value1,value2,option){
        if(value1<=value2){
          return option.fn(this);
        }else{
          option.inverse(this);
        }
      
      
      });
      
  </script>
  <style>
      body{
        background-color: #FFF5EE;
      }
      #back{
        position: absolute;
        top:10px;
        right: 30px;
        width: 140px;
        height: 60px;
      }
      table{
        margin: 30px;
        margin-top: -20px;
      }
      
      table th{
        color:white;
        background-color: black;
      
      }
      @media screen and (max-width: 1000px) {
        .topnav a:not(:first-child) {display: none;}
        .topnav a.icon {
        float: right;
        display: block;
        }
      }

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
      @media screen and (max-width: 1000px) {
        .topnav.responsive {position: relative;}
        .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
      }
      .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
      }
      }
      .slides{
        margin-top:10px;
        margin-left:100px;
      }
      a:hover{
      text-decoration: none;
      }
      .slides1{
        margin-top:10px;
        margin-left:100px;
      }
      a{
        text-transform: uppercase;
      }

      .container table,th,tr{
        margin-bottom:100px;
      }
      h1, h2{
        text-align: center;
        color: blue;

      }
      .topnav {
        overflow: hidden;
        background-color: #333;
      }

      .topnav a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
      }

      .topnav a:hover {
        background-color: #ddd;
        color: black;
      }

      .topnav a.active {
        background-color: #4CAF50;
        color: white;
      }

      .topnav-right {
        float: right;
      }
      .inner:hover img{
       transform :scale(1.5);
      }
      .inner img{
        transition:all 1.5s ease;
      }
      .inner{
        overflow:hidden;
      }

    </style>
  </head>


<body>
  <div class="topnav">
    <a class="active" href="#home"><i>WELCOME {{username}} FOR EVENT MANAGEMENT SYSTEM </i></a>
    <div class="topnav-right">
      
      <a href="" type="button" data-toggle="dropdown">SEARCH
        <span class="caret"></span>
      </a> 
      <ul class="dropdown-menu">
        <li><a href="/userHomePage?username={{username}}&status=0&description=ACTIVE EVENTS">ACTIVE EVENTS</a></li>
        <li><a href="/userHomePage?username={{username}}&status=1&description=UPCOMING EVENTS" >UPCOMING EVENTS</a></li>
        <li><a href="/userHomePage?username={{username}}&status=2&description=ALL EVENTS" >ALL EVENTS</a></li>
      </ul>
      <a href="#"  data-toggle="modal" data-target="#myModal">Feedback</a>
      <a href="/soldTicketList?username={{username}}">Purchased ticket</a>
      <a href="/userRegistration"onclick="window.history.go(-window.history.length);">LOGOUT</a>
      <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
    
      <!-- Modal content-->
          <div class="modal-content" style="background-color: burlywood;">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" style="position: absolute;right:10px;">&times;</button>

              <h4 class="modal-title"style="color:blue;" ><strong>FEEDBACK</strong></h4>
            </div>
            <div class="modal-body">
              <textarea name="feedback" class="feedback" id="feedback" style="height: 100px;width:460px;" placeholder="Type here...">
              </textarea>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" onclick="cancel()" >CANCEL</button>
            <button type="button" class="btn btn-default" data-dismiss="modal" onclick="submit('{{username}}')" style="background-color: skyblue;">SUBMIT</button>
            </div>
          </div>
    </div>
  </div>
  
</div>
</div>

  <h1 style="font-size:30px;color:brown;margin-left:40px;"><strong><i>{{description}}</i></strong></h1>
  <table class="table table-hover">
   
    <div class="container">
      <div class="row justify-content-center">
        <table>
          <tr>  
          {{#each events}}
          {{#if_eq @key 3}}
            </tr>
            <tr>
          {{/if_eq}}
          <td>  
            <div class='col-md-4'>
              <h3  style="text-align: center,color:red;"><strong>{{this.eventName}}</strong></h3>
                <div class='card shadow' style='width: 40rem';>
                  <div class='inner'>
                    <img src="{{this.image}}" class='card-img-top' >  
                  </div>
                  <div class='card-body text-center'>
                    <h2 class='card-title'>{{this.description}}</h2>
                    <p class='card-text'>Available tickets:{{this.maxNoOfTicket}}</p>
                    <p class='card-text'>Booking starts from:{{dateTime1 this.bookingStartTime}},  </p><p class="card-text">to:{{dateTime1 this.bookingEndTime}}</p>
                    <h2 class='card-text'>COST:{{this.cost}}</h2>
                   
                    {{#if_Equal ../status 1}}
                    <button class='btn btn-success' style="background-color: green;" disabled>View More....</button>
                    {{/if_Equal}}
                    {{#if_Equal ../status 0}}
                    <a href='/viewMore?image={{this.image}}&likes={{this.likes}}&username={{../username}}&eventId={{this._id}}&eventName={{this.eventName}}&description={{this.description}}&maxNoOfTicket={{this.maxNoOfTicket}}
                    &bookingStartTime={{this.bookingStartTime}}&bookingEndTime={{this.bookingEndTime}}&cost={{this.cost}}' class='btn btn-success' style="background-color: green;">View More....</a>
                    {{/if_Equal}}
                    {{#if_Equal ../status 2}}
                    {{#if_Greater1  ../today this.bookingStartTime this.bookingEndTime}}
                    <a href='/viewMore?image={{this.image}}&likes={{this.likes}}&username={{../username}}&eventId={{this._id}}&eventName={{this.eventName}}&description={{this.description}}&maxNoOfTicket={{this.maxNoOfTicket}}
                    &bookingStartTime={{this.bookingStartTime}}&bookingEndTime={{this.bookingEndTime}}&cost={{this.cost}}' class='btn btn-success' style="background-color: green;">View More....</a>
                    {{/if_Greater1}}

                    {{#if_Lesser ../today this.bookingStartTime}}
                    <p style="color: red;">Event not started</p>
                    <button class='btn btn-success' style="background-color: green;" disabled>View More....</button>
                    {{/if_Lesser}}
                    {{#if_Greater2 ../today  this.bookingEndTime}}
                    <p style="color: red;">Event Ended</p>
                    <button class='btn btn-success' style="background-color: green;" disabled>View More....</button>
                    {{/if_Greater2}}
                    {{/if_Equal}}

                  </div>
                </div>
            </div>
          </td>  
        {{/each}}  
      </table>
    </div>
  </div>
</body> 
</html> 

